<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!-- <script>

            $(document).ready(function(){

                console.log("hello");
                
                $("#sub_button").click(function(){

                    $.ajax({
              
                        url:"{% url 'adddevice' %}",
                        success:function(){
                          
                            
                            $("res_box").text("done");
                            
                        },
                        error:function(){
                            alert("not done");
                        },
                    })

                });

            });

            

                 
        </script> -->
    </head>
    <body>
        <form id ="data_form">
            <input name="name">
            <!-- <input type="number" name="numval" /> -->
            <button type="submit" id ="sub_button">ADD VAL</button>
            <p id="res_box">res</p>
        
        </form>

    </body>
</html>